.flex{
    display: flex;
}

.infos{
    /* top: 510px;
left: 1134px; */
width: 147px;
height: 19px;
    text-align: left;
letter-spacing: 0px;
color: #7A86A1;
opacity: 1;
}

.fpass{
    /* top: 361px;
left: 1132px; */
/* width: 246px;
height: 41px; */
    text-align: left;
letter-spacing: -0.75px;
color: #000000;
opacity: 1;
}